.btn {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  color: #000000;
  font-family: Tahoma;
  font-size: 29px;
  font-weight: 100;
  padding: 15px;
  background-color: #ffffff;
  border: solid #000000 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #ffffff;
  border: solid #000000 3px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  text-decoration: none;
}
main {
  min-height: 100vh;

  display: grid;
  place-items: center;
}

.container {
  text-align: center;
  margin: auto;

  width: 50%;
}
